@media screen and (min-width: 600px) {
	.fill-height {
		margin: 0;
		height: 100vh;
	}

	.fill-height > .col {
		height: 100vh;
	}
}

.no-pad {
	padding: 0 !important;
}

.no-mar {
	margin: 0 !important;

}

.pos-rel {
	position: relative;
}

.pos-abs {
	position: absolute;
	bottom: 10px;
}

.creator-link {
	position: fixed !important;
	padding-left: 20px !importnat;
	padding-right: 20px !importnat;
	bottom: 10px !important;
	left: 5px !important;
}

#editorPanel {
	width: 100%;
	height: calc(100vh - 48px);
}

#editorPanel #editorMenu {
	height: 28px;
}

#editorPanel #editorMenu > p {
	padding-left: 10px;
	font-size: 0.85em;
}

#editor {
	width: 100%;
	height: calc(100vh - 48px - 28px);
	font-size: 14px;
}

#editorFileList {
	height: calc(100vh - 48px);
	padding: 0;
	background-color: #e8e8e8;
}

#editorFileList h6 {
	font-size: 1.3em;
}

#editorFileList h6, #editorFileList li a {
	padding: 5px 10px;
	color: black;
}

#editorFileList li a {
	display: block;
	font-size: 0.85em;
}

#editorFileList li:nth-child(odd) a {
	background: hsla(0, 0%, 0%, 0.05);
}

#editorFileList li a:hover {
	background: hsla(0, 0%, 0%, 0.1);
}

.tabs > .indicator {
	background-color: #90a4ae;
}

.select-wrapper .caret {
	color: white !important;
}

.admin-sidebar {
	height: 100vh;
	width: 250px;
	padding: 0 !important;
	position: relative;
	z-index: 500;
}

.admin-sidebar > .menu-header {
	padding: 30px 0 15px 0;
	text-align: center;
	background: url("/img/admin_header_bg.jpg");
	background-size: cover;
	margin-bottom: 20px;
}

.admin-sidebar > .menu-header > img {
	width: 100px;
	border-radius: 100%;
	border: 3px solid #fff;
}

.admin-sidebar > .menu-header > p {
	font-size: 24px;
	margin: 5px 0;
}

.admin-sidebar > .menu {
	margin: 0;
}

.admin-sidebar > .menu > .menu-item {
	margin: 0;
	padding: 0;
}

.admin-sidebar > .menu > .menu-item:hover {
	background: rgba(0, 0, 0, 0.1);
}

.admin-sidebar > .menu > .menu-item > a {
	width: 100%;
}

.admin-sidebar > .menu > .menu-item > a > p {
	font-size: 18px;
	margin: 5px 0;
}

.admin-main {
	height: 100vh;
	width: calc(100% - 250px);
	overflow: auto;
}

.stupidTable th {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.stupidTable th[data-sort="string"]:hover,
.stupidTable th[data-sort="int"]:hover,
.stupidTable th[data-sort="float"]:hover {
	cursor: pointer;
}

.stupidTable th:after {
	content: "\00a0\00a0\00a0\00a0\00a0\00a0";
}

.stupidTable th.sorting-desc:after {
	content: "\00a0\00a0\25b2" !important;
}

.stupidTable th.sorting-asc:after {
	content: "\00a0\00a0\25bc" !important;
}

.light_graph .ct-grid {
	stroke: white !important;
	stroke-dasharray: 0 !important;
}

.light_graph .ct-grid.ct-horizontal {
	stroke-width: 0px;
}

.light_graph .ct-series .ct-line,
.light_graph .ct-series .ct-point {
	stroke: white !important;
	stroke-width: 2px;
}

.light_graph .ct-series .ct-bar {
	stroke: white !important;
	stroke-width: 15px;
}

.light_graph .ct-area {
	fill: rgba(255, 255, 255, 1) !important;
	fill-opacity: 0.5 !important;
}

.light_graph .ct-label {
	font-size: 16px !important;
	color: white !important;
	position: relative;
	bottom: -7px;
}

.light_graph .ct-axis-title {
	font-size: 18px !important;
	fill: white !important;
}

.dark_graph .ct-grid {
	stroke: #616161 !important;
	stroke-dasharray: 0 !important;
}

.dark_graph .ct-grid.ct-horizontal {
	stroke-width: 0px;
}

.dark_graph .ct-series .ct-line,
.dark_graph .ct-series .ct-point {
	stroke: #424242 !important;
	stroke-width: 2px;
}

.dark_graph .ct-series .ct-bar {
	stroke: #424242 !important;
	stroke-width: 15px;
}

.dark_graph .ct-area {
	fill: #424242 !important;
	fill-opacity: 0.5 !important;
}

.dark_graph .ct-label {
	font-size: 16px !important;
	color: #424242 !important;
	position: relative;
	bottom: -7px;
}

.dark_graph .ct-axis-title {
	font-size: 18px !important;
	fill: #424242 !important;
}